{% extends 'firstapp/base.html' %}
{% block title %}Index{% endblock title %}
{% block header %}Главная страница{% endblock header %}
{% block content %}
    <p>product categories</p>
    {% for i in data %}
        <li>{{ i }}</li>
        {% empty %}
        <p>Categories is missing</p>
    {% endfor %}

    {% with name="Чайхана" num=1 %}
        <div>
            <p>При магазине работает {{ name }}</p>
            <p>Номер {{ num }}</p>
        </div>
    {% endwith %}

{% endblock content %}